html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
  /* background-color: rgb(21, 27, 27); */
  background-color: rgb(0, 0, 0);
}



p {
  color: rgb(251, 236, 255);
  /* width: 100%;
  left: 50%;
  top: 50%; */
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

h1 {
  color: rgb(251, 236, 255);
  /* width: 100%;
  left: 50%;
  top: 50%; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
  margin: 7px;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}


#backgroundImage {
  position: absolute;
  display: block;
  width: 60%;
  height: 120%;
  top: -12%;
  left: 20%;
  background-color: rgb(255, 255, 255, 0);
  z-index: -10;
}


#overlay {
  position: absolute;
  display: block;
  width: 70%;
  height: 70%;
  top: 2%;
  left: 15%;
  background-color: rgb(255, 255, 255, 0);
  z-index: 3;
}

#betweenlay {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 23%;
  top: 17%;
  left: 42.5%;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0;
  z-index: 2;
}

#underlay {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
  height: 30%;
  top: 30%;
  left: 35%;
  background-color: rgb(255, 0, 0, 0);
  z-index: 1;
}


#autoplayPermission {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(37, 15, 36);
  z-index: 5;
}

#darkness {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  z-index: 999;
}



#unboxing {
  display: none;
}

#crate {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20.25%;
  height: 45%;
  top: 25%;
  left: 39.875%;
  /* opacity: 0.5; */
}

#crateHitbox {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 8%;
  top: 44%;
  left: 45%;
  /* background-color: aliceblue; */
  z-index: -1;
}

#key {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6.75%;
  height: 15%;
  top: 50%;
  left: 60%;
  z-index: 5;
  cursor: grab;
  /* background-color: rgba(0, 255, 255, 0.418); */
}

#dragHint {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6.75%;
  height: 15%;
  top: 50%;
  left: 60%;
  color: rgba(240, 248, 255, 0.3);
  text-align: center;
  /* background-color: rgba(15, 247, 35, 0.1); */
}


:root {
  --bluppyPos: 450%;
}


#blup {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 25%;
  top: var(--bluppyPos);
  left: 72.4%;
  rotate: -45deg;
  opacity: 0.03;
  z-index: 640;
}
#blupBox {
  background-color: rgb(0, 255, 255);
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
  height: 30%;
  top: calc(var(--bluppyPos) - 1%);
  left: 94%;
  rotate: -45deg;
  opacity: 0;
  z-index: 641;
  cursor: grab;
}
#blupBox2 {
  background-color: rgb(0, 255, 0);
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9.5%;
  height: 10%;
  top: calc(var(--bluppyPos) + 5%);
  left: 91%;
  rotate: -45deg;
  opacity: 0;
  z-index: 641;
  cursor: grab;
}
#blupBox:hover~#blup, #blupBox2:hover~#blup  {
  opacity: 0.5;
  transition: 200ms ease-in-out;
}



#neru {
  position: absolute;
  height: 22%;
}
#neruSpeech {
  position: absolute;
  left: 10%;
  width: 50%;
  color: rgb(255, 222, 36);
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 3%;
  margin: 0px;
}



a:link {
  color: aquamarine;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: greenyellow;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}